@font-face { 
    font-family: ubuntu-regular; 
    src: url('../fonts/Ubuntu-Regular.ttf'); 
} 

@font-face { 
    font-family: ubuntu-bold; 
    src: url('../fonts/Ubuntu-Bold.ttf'); 
} 

@font-face { 
    font-family: ubuntu-medium; 
    src: url('../fonts/Ubuntu-Medium.ttf'); 
} 

:root {
    --base-green: #ABD793;
    --base-grey: #D5D5D5;
    --dark-green: #559b61;
    --white: #fff;

}

html {
    font-size: 16px;
    font-family: ubuntu-regular;
}



/* ----------Header---------- */


header {
    background-color: var(--base-green);
  
}
.nav {
    height: 60px;
    padding: 20px;
}
.nav div {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item img {
    height: 30px;
    width: 30px;
}


.nav__logo {
    height: 50px;
    width: 50px;
}
.nav h1 {
    font-size: 1.8rem;
    color: var(--white);
    text-shadow: 1px 1px 1px #000;
    font-family: ubuntu-bold;
} 



/* ----------Main---------- */

.container {
  width: min(100%, 680px);
  margin: auto;
}

.welcome-message {
    margin: 30px 40px;
}

.welcome-message :first-child {
    font-size: 20px;
}

.welcome-message :nth-child(2) {
    font-size: 30px;
    font-family: ubuntu-medium;
}


/* Cards */

  .card__container {
      display: flex;
  }
.card__button {
    display: none;
}
  .card:hover .card__caption {
      height: 120px;
      opacity: 1;
  }

  .card:hover .card__button {
    display: block;
}

  .card:hover .card__image {
    transform: scale(1.2);
  }

  .card__thumb {
    position: relative;
    height: 270px;
    width: 200px;
    overflow: hidden;
    border-radius: 20px;
  }

  .card__caption {
    position: absolute;
    bottom: 5%;
    /* z-index: 1; */
    padding: 0 18px;
    color: black;
    background-color: white;
    opacity: 0.8;
    transition: 0.3s;
    width: 90%;
    height: 65px;
    margin: 10px;
    border-radius: 20px;
  }

  .card__title {
      margin-top: 10px;
      font-size: 20px;
      text-shadow: 1px 1px 1px var(--base-green);

  }
  .card__button {
      margin-top: 15px;
      padding: 8px 4px;
      border-radius: 20px;
      background-color: var(--base-green);
      text-align: center;
      text-transform: uppercase;
      font-family: ubuntu-medium;
  }

  .card__thumb img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }

  .card__caption img {
      position: relative;
      width: 20px;
      height: 20px;
  }

  .card__snippet {
      display: flex;
      align-items: center;
      gap: 10px;
  }



  /* Carousel */
  .carousel {
      position: relative;
      height: 270px;
      width: 189px;
      margin: 0 auto;
  }
  
  .carousel__track {
      position: relative;
      height: 100%;
      transition: transform 250ms ease-in;
  }

  .carousel__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .carousel__track-container {
      background: red;
      border-radius: 20px;
      height: 100%;
      position: relative;
      overflow: hidden;
  }

  .carousel__slide {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
  }

  .carousel__button {
      position: absolute;
      top: 50%;
      height: 80px;
      transform: translateY(-50%);
      font-size: 50px;
      background-color: white;
      cursor: pointer;
  }

  .carousel__button img {
      width: 30px;
      height: 30px;
  }

  .carousel__button--left {
      left: -50px;
  }

  .carousel__button--right {
    right: -50px;
}

.is-hidden {
    display: none;
}

/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--base-green);
  border-radius: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .toggler:checked + .hamburger {
  background: var(--dark-green);
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #fff;
  box-shadow: 1px 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 1px black;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  box-shadow: 0px 0px 1px black;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
  box-shadow: 0px 0px 1px black;
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--dark-green);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: ubuntu-medium;
  text-shadow: 1px 1px 1px #000;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  }
  


  /* Form */
.form {
  border-radius: 10px;
  padding: 20px;
  width: min(100%, 680px);
  margin: auto;
  background-color: rgba(205,240,185,0.5);
}

.form h1 {
  font-family: ubuntu-bold;
  font-size: 30px;
  margin: 30px;
}

.form .input-control {
  border: 1px solid white;
  background-color: #fff;
  margin: 15px 0;
  padding: 10px;
  border-radius: 15px;
}

.form .input-control div {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form .input-control label {
  font-family: ubuntu-medium;
  font-size: 1.2rem;
  display: block;
}

.form .btn-container {
  text-align: center;
}

.form button {
  background-color: var(--base-green);
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: ubuntu-medium;
  box-shadow: 1px 1px 5px var(--dark-green);
}

.form footer {
  text-align: center;
}

.form footer a {
  font-family: ubuntu-medium;
}

  /* SignUp Form */

.signup-form input[type="checkbox"] {
  border: 1px solid var(--dark-green);
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: white;
}

.signup-form .checkbox-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.signup-form .checkbox-control label {
  font-size: 0.7rem;
}


/* Search bar  */

.search-bar {
  width: min(90%, 450px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--base-green);
  background-color: #fff;
  margin: 15px auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px var(--dark-green);
  color: rgb(51, 51, 51);
}

.search-bar input {
  width: 100%;
}

/* All recipes page  */

.recipes-list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}


/* Single recipe  */

article {
  background-color: var(--base-green);
}

article h1 {
  padding-top: 10px;
  font-family: ubuntu-medium;
  font-size: 1.3rem;
}

article div {
  width: 100%;
  border: 1px solid red;
}


article .recipe-image__container {
  height: 250px;
}

article .recipe-image__container img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article .recipe-categories {
  display: flex;
  justify-content: space-between;
}

article .recipe-categories__item {
  width: 85px;
  height: 65px;
  background-color: white;
}

article .recipe-details {
  width: 90%;
  margin: auto;
}

article .recipe-details div {
  margin: 10px 0;
}

article .recipe-description {
  background-color: white;
  padding: 20px;
}


